  <!DOCTYPE html>
  <h2>RG! Questions</h2>
   
  <table class="table table-stripped">
  <thead>
  <th>Question</th>
  <th>Answers</th>
  <th>Actions</th>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
    <tr>
      <td>
        <%= link_to question.name, question_path(question) %> - 
      </td>
	<td>
	  <%= question.reason %><br />
      </td>
	<td>
	<%= single_question.reason %><br />
          <strong>Top Answer:</strong> <%= single_question.top_answer %>
	</td> 
        <td>
          <%= link_to "Edit", edit_question_path(question) %>
          <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
	<td>
	  <%= link_to "New", new_question_path() %>
	</td>
  </tr>
  <% end %>
</tbody>
</table>
