<!DOCTYPE html>
<h2>RG! Questions</h2>
 
<table class="table table-stripped">
<thead>
<th>Question</th>
<th>Answers</th>
<th>Actions</th>
</thead>
<tbody>

  <tr>
  	<% @questions.each do |single_question| %>
    <td>

      <%= link_to single_question.name, question_path(single_question) %> <br />
    </td>
    <td>
    	<%= single_question.reason %>
    </td>
	<td>
		  <% single_question.print_answer %>
	</td>
      <td>
        <%= link_to "Edit", edit_question_path(single_question) %>
        <%= link_to 'Destroy', single_question, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
	<td>
	  <%= link_to "New", new_question_path() %>
	</td>
  </tr>
  <% end %>
</tbody>
</table>


 
