  <!DOCTYPE html>
  <h2>RG! Questions</h2>
   
  <table class="table table-stripped">
  <thead>
  <th>Question</th>
  <th>Answers</th>
  <th>Actions</th>
  </thead>
  <tbody>
  <% @questions.each do |single_question| %>
    <tr>
      <td>
        <%= link_to single_question.name, question_path(single_question) %> - 
        <%= single_question.reason %><br />
        <%= single_question.display_answer %><br />
      </td>
    <% end %>
    </tr>
    <tr>
      <td>
        <% @question.answers.each do |single_answer| %>
    This user gave: <%= single_answer.votes %> Votes<br />
    This user said: <%= single_answer.description %>

      </td> 
        <td>
          <%= link_to "Edit", edit_question_path(single_question) %>
          <%= link_to 'Destroy', single_question, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
    </tr>
    <% end %>
  </tbody>
  </table>



   